*.desktop
*.gmo
*.la
*.libs
*.lo
*.o
.deps
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.lt
config.status
config.sub
configure
configure.ac
data/desktop/parole.desktop.in
data/interfaces/*.h
data/mime/parole-mime-types.h
depcomp
docs/plugin-api/version.xml
docs/plugin-api/Parole-Plugins-decl-list.txt
docs/plugin-api/Parole-Plugins-decl.txt
docs/plugin-api/Parole-Plugins-undeclared.txt
docs/plugin-api/Parole-Plugins-undocumented.txt
docs/plugin-api/Parole-Plugins-unused.txt
docs/plugin-api/Parole-Plugins.args
docs/plugin-api/Parole-Plugins.hierarchy
docs/plugin-api/Parole-Plugins.interfaces
docs/plugin-api/Parole-Plugins.prerequisites
docs/plugin-api/Parole-Plugins.signals
docs/plugin-api/html-build.stamp
docs/plugin-api/html.stamp
docs/plugin-api/html/
docs/plugin-api/scan-build.stamp
docs/plugin-api/setup-build.stamp
docs/plugin-api/sgml-build.stamp
docs/plugin-api/sgml.stamp
docs/plugin-api/tmpl-build.stamp
docs/plugin-api/tmpl.stamp
docs/plugin-api/xml/
gtk-doc.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4
missing
mkinstalldirs
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/parole.pot
po/stamp-it
src/enum-gtypes.c
src/enum-gtypes.h
src/gmarshal.c
src/gmarshal.h
src/gst/gst-enum-types.c
src/gst/gst-enum-types.h
src/gst/gstmarshal.c
src/gst/gstmarshal.h
src/misc/parole-enum-types.c
src/misc/parole-enum-types.h
src/misc/parole-marshal.c
src/misc/parole-marshal.h
src/misc/parole.h
src/org.parole.media.list.h
src/org.parole.media.player.h
src/parole
src/stamp-enum-gtypes.h
stamp-enum-types.h
stamp-h1
.cproject
.project
.settings
