*.desktop
*.gmo
*.la
*.libs
*.lo
*.lock
*.o
*.orig
*.swp
*.stamp
*~
.cproject
.deps
.project
.settings
.vscode
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.lt
config.status
config.sub
configure
configure.ac
cov-int/
data/metainfo/parole.appdata.xml
data/desktop/org.xfce.Parole.desktop.in
data/interfaces/*.h
data/mime/parole-mime-types.h
depcomp
docs/plugin-api/Parole-Plugins*
docs/plugin-api/version.xml
docs/plugin-api/html
docs/plugin-api/xml
!docs/plugin-api/Parole-Plugins-docs.xml
!docs/plugin-api/Parole-Plugins-sections.txt
gtk-doc.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4
missing
mkinstalldirs
parole-*.tar.bz2
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/parole.pot
po/stamp-it
src/enum-gtypes.c
src/enum-gtypes.h
src/gmarshal.c
src/gmarshal.h
src/gst/gst-enum-types.c
src/gst/gst-enum-types.h
src/gst/gstmarshal.c
src/gst/gstmarshal.h
src/misc/parole-enum-types.c
src/misc/parole-enum-types.h
src/misc/parole-marshal.c
src/misc/parole-marshal.h
src/misc/parole.h
src/org.parole.media.list.h
src/org.parole.media.player.h
src/parole
src/stamp-enum-gtypes.h
stamp-enum-types.h
stamp-h1
test-driver
