<?xml version='1.0' encoding='UTF-8'?>
<Project xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
         xmlns:foaf="http://xmlns.com/foaf/0.1/"
         xmlns:gnome="http://api.gnome.org/doap-extensions#"
         xmlns="http://usefulinc.com/ns/doap#">

  <name xml:lang="en">parole</name>
  <shortdesc xml:lang="en">GStreamer based media player</shortdesc>
  <homepage rdf:resource="http://goodies.xfce.org/projects/applications/parole-media-player"/>

  <maintainer>
    <foaf:Person>
      <foaf:name>Ali Abdallah</foaf:name>
      <foaf:mbox>mailto:aliov@xfce.org</foaf:mbox>
      <gnome:userid>aliov</gnome:userid>
    </foaf:Person>
  </maintainer>
</Project>
